<header class="header_container">
    <div id="logo">
        <img src="assets/media/logo.png" width="250"/>
    </div>
    <div id="nav-bar">
        <ul>
            <li class="nav_bar_links"><h5>What We Do</h5></li>
            <li class="nav_bar_links"><h5>Who We Are</h5></li>
            <li class="nav_bar_links"><h5>Our Thinking</h5></li>
            <li class="nav_bar_links"><h5>Careers</h5></li>
        </ul>
    </div>
    <div id="language">
        <select>
            <option>English</option>
        </select>
    </div>
</header>

<main>
    <section id="home">
        <div class="container_home">
            <div>
                <h2>Agility in process,</h2>
                <h2>Integrity with resolve,</h2>
                <h2>Mastery </h2>
            </div>
            <div>

            </div>
        </div>
    </section>
    <section id="what_we_do">
        <div id="header_what">
            <h3>What We Do</h3>
        </div>
        <div class="container_what">

        </div>

    </section>
    <section id="who_we_are">
        <div id="header_who">
            <h3>Who We Are</h3>
        </div>
        <div class="container_who">

        </div>

    </section>
    <section id="our_thinking">
        <div id="header_our">
            <h3>Our Thinking</h3>
        </div>
        <div class="container_our">

        </div>
    </section>
</main>

<footer>

</footer>








