.size {
    min-height: 30px;
    width: 100%;
}
.color {
    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgba(255,255,255,1) 27%, rgba(226,33,39,1) 89%, rgba(226,33,39,1) 100%);
}
.border {
    border-bottom: 2px solid var(--color-background);
}