@import "~bootstrap-icons/font/bootstrap-icons.css";

/* You can add global styles to this file, and also import other style files */
:root {
    --color-background: #ffff;
    --color-dark: #333333;
    --color-header: #444143;
    --color-body: #848484;

    /* Primary Palette */
    --color-p50: #FCE0E0;
    --color-p100: #F8B3B3;
    --color-p200: #F38080;
    --color-p300: #EE4D4D;
    --color-p400: #EA2626;
    --color-p500: #E60000;
    --color-p600: #E30000;
    --color-p700: #DF0000;
    --color-p800: #D80000;
    --color-p900: #D50000;

    /*Secondary Palette*/
    --color-s50: #E1E0EA;
    --color-s100: #B3B3CB;
    --color-s200: #8180A8;
    --color-s300: #4F4D85;
    --color-s400: #29266A;
    --color-s500: #030050;
    --color-s600: #030049;
    --color-s700: #020040;
    --color-s800: #020037;
    --color-s900: #010027;

    /*SAP Themes - 3 Sets */
    --color-sap1: #f0ab00;
    --color-sap2: #a8a240;
    --color-sap3: #609a7f;
    --color-sap4: #008fd3;

    --color-sap5: #f0ab00;
    --color-sap6: #d2742c;
    --color-sap7: #bb4a4e;
    --color-sap8: #970a82;

    --color-sap9: #f0ab00;
    --color-sap10: #ec9100;
    --color-sap11: #e87800;
    --color-sap12: #e35500;

    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Poiret One', cursive;

}
html, body, app-root { height: 100vh; }
body {

    position: relative;
    cursor: default;
}

h1 {
    font-size: 34px;
    font-weight: 600;
    font-style: none;
    font-variant: none;
    font-family: var(--font-primary);
    color: var(--color-header);
    margin-bottom: 40px;

}
h2 {
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    font-family: var(--font-primary);
    color: var(--color-header);
    margin-bottom: 25px;
}
h3 {
    font-size: 25px;
    font-weight: 400;
    font-style: none;
    font-family: var(--font-primary);
    color: var(--color-header);
    margin-bottom: 25px;
}
h4 {
    font-size: 25px;
    font-weight: 100;
    font-style: none;
    font-family: var(--font-secondary);
    color: var(--color-header);
    margin-bottom: 25px;
}
h5 {
    display: inline;
    font-size: 18px;
    font-weight: 500;
    font-style: none;
    font-family: var(--font-primary);
    color: var(--color-header);
    margin-bottom: 25px;
}
p {
    font-size: 14px;
    font-weight: 400;
    font-style: none;
    font-family: var(--font-primary);
    color: var(--color-body);
    margin-bottom: 10px;
}
em {
    font-size: inherit;
    font-weight: 600;
    color: var(--color-primary);
    
}
em:hover {
    font-size: inherit; 
    font-weight: 800;
    transition-duration: .5s;
}
div {
    font-size: 14px;
    font-family: var(--font-primary);
    color: var(--color-header);
}
span {
    font-size: 14px;
    font-family: var(--font-primary);
    color: var(--color-header);
}
a {
    font-size: 14px;
    font-family: var(--font-primary);
    color: var(--color-header);
}



/**********************Buttons*******************************/
/************************************************************/
.ad-btn {
    min-width:fit-content;
    height:fit-content;
    padding: .5em 1.3em .5em 1.3em;
    margin: 1em;
    border-radius: 7px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight:600;
    font-family: var(--font-primary);
    text-decoration: none;
}

.ad-btn-primary {
    background-color: var(--color-p500);
    color: var(--color-s50);
    border: transparent;
    transform: all .5s;
}
.ad-btn-primary:hover {
    background-color: var(--color-p300);
    color: var(--color-s900)
}
.ad-btn-primary:active {
    background-color: var(--color-p700);
    color: var(--color-s50);
}

i {
    color: inherit;
    font-size: inherit;
    padding: .1em .4em 0 .4em;
    text-align: center;
}
select {
    border: 1px solid var(--color-p500);
    cursor: pointer;
}




