/* You can add global styles to this file, and also import other style files */
:root {
    --color-background: #ffff;
    --color-primary: #e22127;
    --color-secondary: #000000;
    --color-header: #444143;
    --color-body: #a0a0a0;

    --color-sap1: #f0ab00;
    --color-sap2: #a8a240;
    --color-sap3: #609a7f;
    --color-sap4: #008fd3;

    --color-sap5: #f0ab00;
    --color-sap6: #d2742c;
    --color-sap7: #bb4a4e;
    --color-sap8: #970a82;

    --color-sap9: #f0ab00;
    --color-sap10: #ec9100;
    --color-sap11: #e87800;
    --color-sap12: #e35500;

    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Poiret One', cursive;

}
body {
    cursor: default;
    

}
h1 {
    font-size: 34px;
    font-weight: 600;
    font-style: none;
    font-variant: none;
    font-family: var(--font-primary);
    color: var(--color-header);
    margin-bottom: 40px;

}
h2 {
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    font-family: var(--font-primary);
    color: var(--color-header);
    margin-bottom: 25px;
}
h3 {
    font-size: 25px;
    font-weight: 400;
    font-style: none;
    font-family: var(--font-primary);
    color: var(--color-header);
    margin-bottom: 25px;
}
h4 {
    font-size: 25px;
    font-weight: 100;
    font-style: none;
    font-family: var(--font-secondary);
    color: var(--color-header);
    margin-bottom: 25px;
}
h5 {
    display: inline;
    font-size: 18px;
    font-weight: 500;
    font-style: none;
    font-family: var(--font-primary);
    color: var(--color-header);
    margin-bottom: 25px;
}
p {
    font-size: 14px;
    font-weight: 400;
    font-style: none;
    font-family: var(--font-primary);
    color: var(--color-body);
    margin-bottom: 10px;
}
em {
    font-size: inherit;
    font-weight: 600;
    color: var(--color-primary);
    
}
em:hover {
    font-size: inherit; 
    font-weight: 800;
    transition-duration: .5s;
}
div {
    font-size: 14px;
    font-family: var(--font-primary);
    color: var(--color-header);
}
span {
    font-size: 14px;
    font-family: var(--font-primary);
    color: var(--color-header);
}
a {
    font-size: 14px;
    font-family: var(--font-primary);
    color: var(--color-header);
}
button {
    font-size: 14px;
    font-family: var(--font-primary);
    color: var(--color-header);
}
