<div class="container">
    <h2>Contact Us</h2>
    <form [formGroup]="contactUsForm" (ngSubmit)="onSubmit()">
        <div class="contact-page-container">
            <div class="contact-container">
                <div class="label-input">
                    <label for="name">Name <span class="callout-color">*</span></label>
                    <input id="name" type="text" formControlName="name">
                </div>
                <div class="label-input">
                    <label for="phone">Phone Number <span class="callout-color">*</span></label>
                    <input id="phone" type="text" formControlName="phone">
                </div>
                <div class="label-input">
                    <label for="email">Email <span class="callout-color">*</span></label>
                    <input id="email" type="text" formControlName="email">
                </div>
                <div class="label-input">
                    <label for="position">Position <span class="callout-color">*</span></label>
                    <select type="dropdown" id="position" formControlName="position">
                        <option value="" default disabled>
                            Choose
                        </option>
                        <option *ngFor="let position of positions" [value]="position.position">
                            {{position.position}}
                        </option>
                    </select>
                </div>
                <div class="label-input">
                    <label for="type">Type <span class="callout-color">*</span></label>
                    <select type="dropdown" id="type" type="text" formControlName="type">
                        <option value="" default disabled>
                            Choose
                        </option>
                        <option *ngFor="let type of types" [value]="type.type">
                            {{type.type}}
                        </option>
                    </select>
                </div>
                <div class="label-input">
                    <label for="region">Region <span class="callout-color">*</span></label>
                    <select id="region" type="text" formControlName="region">
                        <option value="" default disabled>
                            Choose
                        </option>
                        <option *ngFor="let region of regions" [value]="region.region">
                            {{region.region}}
                        </option>
                    </select>
                </div>
                <div class="label-input">
                    <label for="addInfo">Additional Information </label>
                    <textarea id="addInfo" type="text" rows="5" columns="50" formControlName="addInfo"></textarea>
                </div>
                <div class="contact-buttons">
                    <div>
                        <p><span class="callout-color">* </span>Required Field</p>
                    </div>
                    <div>
                        <button (click)="isReset()" class="ad-btn ad-btn-primary">Reset</button>
                        <button [disabled]="contactUsForm.invalid" type="submit" class="ad-btn ad-btn-primary">Submit</button>
                    </div>
                    
                </div>
            </div>
            <div class="email-container">
                <h5>To:</h5>
                <div class="text-box bottom-margin">
                    <p class="tight-text">Aspire Digital Management</p>
                </div>
                <h5>From:</h5>
                <div class="text-box bottom-margin">
                    <p class="tight-text text-height">{{ contactUsForm.controls.email.value }}</p>
                </div>
                <h5>Subject:</h5>
                <div class="text-box bottom-margin">
                    <p class="tight-text">Looking for a {{ contactUsForm.controls.position.value }} position in {{ contactUsForm.controls.region.value }}</p>
                </div>
                <h5>Body:</h5>
                <div class="text-box body-box">
                    <p class="tight-text">Name: {{ contactUsForm.controls.name.value }}</p>
                    <p class="tight-text">Phone Number: {{ contactUsForm.controls.phone.value }}</p>
                    <p class="tight-text">Email: {{ contactUsForm.controls.email.value }}</p>
                    <p class="tight-text">Position: {{ contactUsForm.controls.position.value }}</p>
                    <p class="tight-text">Type: {{ contactUsForm.controls.type.value }}</p>
                    <p class="tight-text">Region: {{ contactUsForm.controls.region.value }}</p>
                    <p class="tight-text">Additional Information: {{ contactUsForm.controls.addInfo.value }}</p>
                    
                    <p class="top-margin">Best regards,</p>
                    
                    <p class="top-margin">{{ contactUsForm.controls.name.value }}</p>
                </div>
                
            </div>
        </div>
        
        
        
    </form>
    
</div>