<div class="container-fluid design">
    <div class="container footer-container">

        <div id="footer-logo">
            <a [routerLink]="['home']" fragment="top-of-page"><img src="assets/media/logo_white.svg" alt="logo" width="250"/></a>
        </div>
        <div id="footer-what">
            <span>
                <a [routerLink]="['home']" fragment="top-of-page"><h5 class="on-hover">What We Do</h5></a>
                <a [routerLink]="['home']" fragment="top-of-page"><p class="on-hover">SAP Solutions</p></a>
                <a [routerLink]="['home']" fragment="top-of-page"><p class="on-hover">Digital Services</p></a>
                <a [routerLink]="['home']" fragment="top-of-page"><p class="on-hover">Industries</p></a>
            </span>
            
        </div>
        <div id="footer-who">
            <span>
                <a [routerLink]="['home']" fragment="top-of-page"><h5 class="on-hover">Who We Are</h5></a>
                <a [routerLink]="['home']" fragment="top-of-page"><p class="on-hover">Consultants</p></a>
                <a [routerLink]="['home']" fragment="top-of-page"><p class="on-hover">Our Staff</p></a>
                <a [routerLink]="['home']" fragment="top-of-page"><p class="on-hover">Locations</p></a>
                <a [routerLink]="['Contact-Us']" fragment="top-of-page"><p class="on-hover">Contact Us</p></a>
            </span>
        </div>
        <div id="footer-our">
            <span>
                <a [routerLink]="['home']" fragment="top-of-page"><h5 class="on-hover">Our Thinking</h5></a>
                <a [routerLink]="['home']" fragment="top-of-page"><p class="on-hover">Diversity</p></a>
                <a [routerLink]="['home']" fragment="top-of-page"><p class="on-hover">Our Pledge</p></a>
                <a [routerLink]="['home']" fragment="top-of-page"><p class="on-hover">Mission Statement</p></a>
                <a [routerLink]="['home']" fragment="top-of-page"><p class="on-hover">Cloud Central Design</p></a>
            </span>
        </div>
        <div id="footer-careers">
            <span>
                <a [routerLink]="['home']" fragment="top-of-page"><h5 class="on-hover">Careers</h5></a>
                <a [routerLink]="['home']" fragment="top-of-page"><p class="on-hover">Culture</p></a>
                <a [routerLink]="['home']" fragment="top-of-page"><p class="on-hover">Openings</p></a>
                <a [routerLink]="['Apply-Now']" fragment="top-of-page"><p class="on-hover">Apply Now</p></a>
            </span>
        </div>
        <div id="footer-copyright">
            <p>Copyright ⓒ 2023 All rights reserved | Aspire Digital Technologies Ltd</p>
        </div>
    </div>
    
</div>
