<div class="diversity-ribbon">
    <div class="container">
        <h3>{{ language.get('diversity-slogan') }}</h3>
    </div>
</div>
<div class="container section-margin-top">
    <div class="diversity-message">
        <h4>{{ language.get('diversitydrives') }}</h4>
    </div>
     
    
    <div class="flag-container">
        <div class="flag" id="red" (click)="selected($event)">
            <h3 class="flag-text">{{ language.get('productivity') }}</h3>
        </div>
        <div class="description-container hidden" id="red-desc">
            <h3 class="hidden-text">{{ language.get('productivity-cap') }}</h3>
            <p class="description hidden-text">{{ language.get('productivity-message') }}</p>
        </div>

        <div class="flag" id="green" (click)="selected($event)">
            <h3 class="flag-text">{{ language.get('innovation') }}</h3>
        </div>
        <div class="description-container hidden" id="green-desc">
            <h3 class="hidden-text">{{ language.get('innovation-cap') }}</h3>
            <p class="description hidden-text">{{ language.get('innovation-message') }}</p>
        </div>

        <div class="flag" id="blue" (click)="selected($event)">
            <h3 class="flag-text">{{ language.get('creativity') }}</h3>
        </div>
        <div class="description-container hidden" id="blue-desc">
            <h3 class="hidden-text">{{ language.get('creativity-cap') }}</h3>
            <p class="description hidden-text">{{ language.get('creativity-message') }}</p>
        </div>

        <div class="description-container hidden" id="yellow-desc">
            <h3 class="hidden-text">{{ language.get('solutions-cap') }}</h3>
            <p class="description hidden-text">{{ language.get('solutions-message') }}</p>
        </div>
        <div class="flag" id="yellow" (click)="selected($event)">
            <h3 class="flag-text">{{ language.get('solutions') }}</h3>
        </div>

        <div class="description-container hidden" id="orange-desc">
            <h3 class="hidden-text">{{ language.get('revenue-cap') }}</h3>
            <p class="description hidden-text">{{ language.get('revenue-message') }}</p>
        </div>
        <div class="flag" id="orange" (click)="selected($event)">
            <h3 class="flag-text">{{ language.get('revenue') }}</h3>
        </div>

        <div class="description-container hidden" id="purple-desc">
            <h3 class="hidden-text">{{ language.get('understanding-cap') }}</h3>
            <p class="description hidden-text">{{ language.get('understanding-message') }}</p>
        </div>
        <div class="flag" id="purple" (click)="selected($event)">
            <h3 class="flag-text">{{ language.get('understanding') }}</h3>
        </div>
    </div>
</div>

