<div class="diversity-ribbon">
    <div class="container">
        <h3>We recruit the best talent, period.</h3>
    </div>
</div>
<div class="container section-margin-top">
    <div class="diversity-message">
        <h4>Diversity Drives...</h4>
    </div>
    
    
    <div class="flag-container">
        <div class="flag red">
            <h3 class="flag-text">productivity</h3>
        </div>
        <div class="flag green">
            <h3 class="flag-text">innovation</h3>
        </div>
        <div class="flag blue">
            <h3 class="flag-text">creativity</h3>
        </div>
        <div class="flag yellow">
            <h3 class="flag-text">solutions</h3>
        </div>
        <div class="flag orange">
            <h3 class="flag-text">revenue</h3>
        </div>
        <div class="flag purple">
            <h3 class="flag-text">understanding</h3>
        </div>


    </div>
</div>

