
.flag-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.flag{
    width: 200px;
    height: 600px;
    margin-left: auto;
    margin-right:auto;
    display:flex;
    justify-content: center;
    padding-top:3em;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
}
.red{
    background-color: #EE204D;
}
.red h3{
    color: #EE204D;
    filter:invert();
}
.green{
    background-color: #15807B;
}
.green h3{
    color: #15807B;
    filter:invert();
}
.blue{
    background-color: #1974D2;
}
.blue h3{
    color: #1974D2;
    filter:invert();
}
.yellow{
    background-color: #FDFC74;
}
.yellow h3{
    color: #FDFC74;
    filter:invert();
}
.orange{
    background-color: #FFB653;
}
.orange h3{
    color: #FFB653;
    filter:invert();
}
.purple{
    background-color: #C364C5;
}
.purple h3{
    color: #C364C5;
    filter:invert();
}
.flag-text{

    writing-mode: vertical-rl;
    text-orientation: upright;
    color: white;
    font-weight: 800;
    font-size: 22pt;
}
.diversity-message{
    display:flex;
    width:100%;
    justify-content: center;
}
.diversity-message h4{
    text-align: center;
    font-weight: 600;
}
.diversity-ribbon{
    background-color: var(--color-s300);
    width: 100%;
    padding: 1em;
}
.diversity-ribbon h3{
    color: white;
    margin:0;
}
.section-margin-top{
    margin-top:2em;
}