<div class="header-section">
    <div class="container header-section-inner">
        <h2 class="page-title">Our Staff</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero veniam repudiandae omnis, modi, exercitationem vitae impedit minima error quasi deleniti odit, officia voluptates. In, asperiores velit. Aliquid, repudiandae neque omnis fugit laboriosam iusto ullam. Praesentium provident dolore perferendis sit molestiae hic blanditiis natus tempore inventore?</p>
    </div>
    

</div>
<div class="container">
    <div class="staff-title-container">
        <div id="leadership" [routerLink]="['Leadership']" class="staff-tab">
            <h3>Leadership</h3>
        </div>
        <div id="india" [routerLink]="['India-Team']" class="staff-tab">
            <h3>India Team</h3>
        </div>
        <div id="uae" [routerLink]="['UAE-Team']" class="staff-tab">
            <h3>UAE Team</h3>
        </div>
        <div id="usa" [routerLink]="['USA-Team']" class="staff-tab">
            <h3>USA Team</h3>
        </div>
        
        
    </div>
    <router-outlet></router-outlet>
</div>