<div class="header-section">
    <div class="container header-section-inner">
        <h2 class="page-title">{{ language.get('ourstaff') }}</h2>
        <p class="header-text">{{ language.get('ourstaff-message') }}</p>
    </div>
    

</div>
<div class="container">
    <div class="staff-title-container">
        <div id="leadership" [routerLink]="['Leadership']" class="staff-tab">
            <h3>{{ language.get('leadership') }}</h3>
        </div>
        <div id="india" [routerLink]="['India-Team']" class="staff-tab">
            <h3>{{ language.get('indiateam') }}</h3>
        </div>
        <div id="uae" [routerLink]="['UAE-Team']" class="staff-tab">
            <h3>{{ language.get('uaeteam') }}</h3>
        </div>
        <div id="usa" [routerLink]="['USA-Team']" class="staff-tab">
            <h3>{{ language.get('usateam') }}</h3>
        </div>
        
        
    </div>
    <router-outlet></router-outlet>
</div>