<div class="culture-banner-container">
    <div>
        <img class="culture-banner" src="assets/media/workers.jpg" alt="workers picture"/>
    </div>
    <div class="culture-screen">
        <h3>Aspire makes life and work fit together. Join our team!</h3>
    </div>
</div>
<div class="container section-margin-top">
    <div class="culture-card-container">
        <div class="culture-card">
            <div class="culture-image">
                <i class="bi bi-calendar4-week"></i>
            </div>
            <div class="culture-header">
                <h3>Schedule</h3>
            </div>
            <div class="culture-body">
                <p>We support a family friendly remote work environment with flexible working hours</p>
            </div>
        </div>
        <div class="culture-card">
            <div class="culture-image">
                <i class="bi bi-umbrella"></i>
            </div>
            <div class="culture-header">
                <h3>Time Off</h3>
            </div>
            <div class="culture-body">
                <p>We understand life happens & we have you covered with paid holidays & sick leave</p>
            </div>
        </div>
        <div class="culture-card">
            <div class="culture-image">
                <i class="bi bi-currency-dollar"></i>
            </div>
            <div class="culture-header">
                <h3>Profit Sharing</h3>
            </div>
            <div class="culture-body">
                <p>We believe if you generate more money, you should earn more money with performanced based salary increases</p>
            </div>
        </div>
        <div class="culture-card">
            <div class="culture-image">
                <i class="bi bi-award"></i>
            </div>
            <div class="culture-header">
                <h3>Learning</h3>
            </div>
            <div class="culture-body">
                <p>We encourage our staff to upscale their skills with company paid industry certification and learning</p>
            </div>
        </div>
        <div class="culture-card">
            <div class="culture-image">
                <i class="bi bi-mortarboard"></i>
            </div>
            <div class="culture-header">
                <h3>Apprenticeships</h3>
            </div>
            <div class="culture-body">
                <p>We offer full-time jobs that allow you to earn while you learn</p>
            </div>
        </div>
        <div class="culture-card">
            <div class="culture-image">
                <i class="bi bi-balloon"></i>
            </div>
            <div class="culture-header">
                <h3>Events</h3>
            </div>
            <div class="culture-body">
                <p>We offer company Conventions, Conferences, Meetups and More!  Get to know your coworkers off the clock, but on our dime.</p>
            </div>
        </div>
    </div>
</div>>
