<div class="culture-banner-container">
    <div>
        <img class="culture-banner" src="assets/media/workers.jpg" alt="workers picture"/>
    </div>
    <div class="culture-screen">
        <h3>{{ language.get('culture-banner-message') }}</h3>
    </div>
</div>
<div class="container section-margin-top">
    <div class="culture-card-container">
        <div class="culture-card">
            <div class="culture-image">
                <i class="bi bi-calendar4-week"></i>
            </div>
            <div class="culture-header">
                <h3>{{ language.get('schedule') }}</h3>
            </div>
            <div class="culture-body">
                <p>{{ language.get('schedule-message') }}</p>
            </div>
        </div>
        <div class="culture-card">
            <div class="culture-image">
                <i class="bi bi-umbrella"></i>
            </div>
            <div class="culture-header">
                <h3>{{ language.get('timeoff') }}</h3>
            </div>
            <div class="culture-body">
                <p>{{ language.get('timeoff-message') }}</p>
            </div>
        </div>
        <div class="culture-card">
            <div class="culture-image">
                <i class="bi bi-currency-dollar"></i>
            </div>
            <div class="culture-header">
                <h3>{{ language.get('profitsharing') }}</h3>
            </div>
            <div class="culture-body">
                <p>{{ language.get('profitsharing-message') }}</p>
            </div>
        </div>
        <div class="culture-card">
            <div class="culture-image">
                <i class="bi bi-award"></i>
            </div>
            <div class="culture-header">
                <h3>{{ language.get('learning') }}</h3>
            </div>
            <div class="culture-body">
                <p>{{ language.get('learning-message') }}</p>
            </div>
        </div>
        <div class="culture-card">
            <div class="culture-image">
                <i class="bi bi-mortarboard"></i>
            </div>
            <div class="culture-header">
                <h3>{{ language.get('apprenticeships') }}</h3>
            </div>
            <div class="culture-body">
                <p>{{ language.get('apprenticeships-message') }}</p>
            </div>
        </div>
        <div class="culture-card">
            <div class="culture-image">
                <i class="bi bi-balloon"></i>
            </div>
            <div class="culture-header">
                <h3>{{ language.get('events') }}</h3>
            </div>
            <div class="culture-body">
                <p>{{ language.get('events-message') }}</p>
            </div>
        </div>
    </div>
</div>>
