<div class="container">
    <div class="leadership-card-container section-margin-top">
        <a href="https://www.linkedin.com/in/aspire-robin/" target="_blank"><div class="leadership-card">
            <div class="leadership-card-image">
                <img src="assets/media/headshots/Robin.png" alt="personal photo"/>
            </div>
            <div class="leadership-card-name">
                <h3>Robin Singh</h3>
            </div>
            <div class="leadership-card-title">
                <h5>CEO</h5>
            </div>
            <div class="leadership-card-description">
                <p>Robin is an innovator and leader with a history of success in implementing the latest technologies, defying conventions, challenging the status quo, and delivering complex world class programs</p>
            </div>
            <div class="leadership-card-icon">
                <i class="bi bi-linkedin"></i>
            </div>
        </div></a>
        <a href="https://www.linkedin.com/in/corrine-freese-9b5217192/" target="_blank"><div class="leadership-card">
            <div class="leadership-card-image">
                <img src="assets/media/headshots/Corrine.png" alt="personal photo"/>
            </div>
            <div class="leadership-card-name">
                <h3>Corrine Freese</h3>
            </div>
            <div class="leadership-card-title">
                <h5>COO</h5>
            </div>
            <div class="leadership-card-description">
                <p>Corrine has wide-ranging experience leading organization-wide transformation with leadership development initiatives and capability driven development strategies</p>
            </div>
            <div class="leadership-card-icon">
                <i class="bi bi-linkedin"></i>
            </div>
        </div></a>
        <a href="https://www.linkedin.com/in/kawaljeet-singh-spm-sales-incentive-compensation-design-specialist-84a72713/" target="_blank"><div class="leadership-card">
            <div class="leadership-card-image">
                <img src="assets/media/headshots/Kawaljeet.png" alt="personal photo" class="bandw"/>
            </div>
            <div class="leadership-card-name">
                <h3>Kawaljeet Singh</h3>
            </div>
            <div class="leadership-card-title">
                <h5>CTO</h5>
            </div>
            <div class="leadership-card-description">
                <p>Kawaljeet (Goldy) has over a decade of experience designing and delivering end-to-end sales performance management solutions around the globe</p>
            </div>
            <div class="leadership-card-icon">
                <i class="bi bi-linkedin"></i>
            </div>
        </div></a>
    </div>
</div>
