<div class="container">
    <div class="addresses-container">
        <div class="address-card">
            <h5>USA</h5>
            <p>Aspire Digital Technologies LLC</p>
            <p>Suite 150W</p>
            <p>9600 Great Hills Trail</p>
            <p>Austin, TX 78759</p>
            <p>USA</p>
            
        </div>
        <div class="address-card">
            <h5>INDIA</h5>
            <p>Exacraft Technologies Pvt. Ltd.</p>
            <p>Flat 503, Mahale, Nyati Epitome,</p>
            <p>NIBM Road, Mohammadwadi, Pune</p>
            <p>Maharashtra, 411060</p>
            <p>India</p>
        </div>
        <div class="address-card">
            <h5>UNITED ARAB EMIRATES</h5>
            <p>Aspire Quantum Technologies LLC</p>
            <p>Suite A04-22, Empire Heights, Podium Level 3 </p>
            <p>Business Bay </p>
            <p>Dubai </p>
            <p>UAE</p>
            <p>971-4-446-2054</p>
        </div>
    </div>


</div>