i {
    padding:0;
    margin:0;
}
.icon-color {
    color: var(--color-s200);
}
.icon-color:hover {
    color: var(--color-p500);
    cursor:pointer;
}
.icon-size {
    font-size: 36pt;
}
.link-location {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    height: 58px;
}