
<div>
    <div class="primary"><h1 style="color: white;">Primary Color</h1></div>
</div>

<div>
    <div class="secondary"><h1 style="color: white;">Secondary Color</h1></div>
</div>

<div class="font_container">
    <h1>Headline h1 Font</h1>
    <h2>Headline h2 Font</h2>
    <h3>Title h3 font.</h3>
    <h4>Special h4 font.</h4>
    <h5>Special h5 font.</h5>
    <p>Paragraph standard font.</p>
</div>

<div class="sap_container">
    <div>
        <div id="sap1">--color-sap1</div>
        <div id="sap2">--color-sap2</div>
        <div id="sap3">--color-sap3</div>
        <div id="sap4">--color-sap4</div>
    </div>
    <div>
        <div id="sap5">--color-sap5</div>
        <div id="sap6">--color-sap6</div>
        <div id="sap7">--color-sap7</div>
        <div id="sap8">--color-sap8</div>
    </div>
    <div>
        <div id="sap9">--color-sap9</div>
        <div id="sap10">--color-sap10</div>
        <div id="sap11">--color-sap11</div>
        <div id="sap12">--color-sap12</div>
    </div>

</div>
<h3>Example</h3><h5>Using &lt;em&gt;</h5>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing <em>elit</em>. Assumenda 
    quaerat eaque reiciendis <em>excepturi</em> quidem qui temporibus hic! Possimus 
    rerum ipsam itaque ipsum, doloribus laborum est sunt cum provident earum 
    <em>laudantium?</em>
</p>





