.primary {
    height: 80px;
    width: 100%;
    background-color: var(--color-primary);
}

.secondary {
    height: 80px;
    width: 100%;
    background-color: var(--color-secondary);
}
.font_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}
.sap_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}
#sap1 {
    height: 30px;
    width: auto;
    background-color: var(--color-sap1);
}
#sap2 {
    height: 30px;
    width: auto;
    background-color: var(--color-sap2);
}
#sap3 {
    height: 30px;
    width: auto;
    background-color: var(--color-sap3);
}
#sap4 {
    height: 30px;
    width: auto;
    background-color: var(--color-sap4);
}
#sap5 {
    height: 30px;
    width: auto;
    background-color: var(--color-sap5);
}
#sap6 {
    height: 30px;
    width: auto;
    background-color: var(--color-sap6);
}
#sap7 {
    height: 30px;
    width: auto;
    background-color: var(--color-sap7);
}
#sap8 {
    height: 30px;
    width: auto;
    background-color: var(--color-sap8);
}
#sap9 {
    height: 30px;
    width: auto;
    background-color: var(--color-sap9);
}
#sap10 {
    height: 30px;
    width: auto;
    background-color: var(--color-sap10);
}
#sap11 {
    height: 30px;
    width: auto;
    background-color: var(--color-sap11);
}
#sap12 {
    height: 30px;
    width: auto;
    background-color: var(--color-sap12);
}