<div class="header_container">
    <div class="logo">
        <img src="assets/media/logo.png" width="250"/>
    </div>
    <div id="nav-bar">
        <ul>
            <li class="nav_bar_links nav-link what_we_do" id="what_we_do"><h5>What We Do</h5>
                
                <div class="nav_dropdown menu_what_we_do">
                    <div class="triangle" style="left:150px;"></div>
                    <div class="box">
                        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; column-gap:10px;">
                            <div>
                                <h3>SAP Solutions</h3>
                                <p>C4C - Cloud for Customer</p>
                                <p>CPQ - Configure Price Quote</p>
                                <p>Sales Performance Management</p>
                            </div>
                            <div>
                                <h3>Digital Services</h3>
                                <p>Web Development</p>
                                <p>Digital Marketing</p>
                                <p>Scalability Planning</p>
                            </div>
                            <div>
                                <h3>Industries</h3>
                                <p>Tellecommunication</p>
                                <p>Industrial</p>
                                <p>Manufacturing</p>
                                <p>Medical</p>
                                <p>Agriculture</p>
                                <p>Technology</p>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav_bar_links nav-link who_we_are" id="who_we_are"><h5>Who We Are</h5>
                <div id="menu_who_we_are"> </div>
            </li>
            <li class="nav_bar_links nav-link our_thinking" id="our_thinking"><h5>Our Thinking</h5>
                <div id="menu_our_thinking"> </div>
            </li>
            <li class="nav_bar_links nav-link careers" id="careers"><h5>Careers</h5>
                <div id="menu_careers"> </div>
            </li>
        </ul>
    </div>
    <div class="language">
        <i class="bi bi-facebook" style="color: var(--color-p500)"></i>
        <i class="bi bi-linkedin" style="color: var(--color-p500)"></i>
        <select>
            <option>English</option>
        </select>
    </div>
</div>