h3 {
    margin:0;
}
h5 {
    margin:0;
}
ul {
    padding:0;
    margin:0;
}
.header_container {
    
}
.header_container {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    align-items: baseline;
    border-bottom: 2px solid #999999;
    opacity: 100%;
}
.nav_bar_links {
    text-decoration: none;
    display: inline-flex;
    justify-content: left;
    align-self:baseline;
    margin-right: 1.3em;
}
#nav-bar {
    margin-left: 2em;
    display: flex;
}
#nav-bar ul{

}
#nav-bar h5 {
    font-size: 16px;
}