.color {
    background: rgb(255,255,255);
    background: linear-gradient(135deg, var(--color-background) 33%, var(--color-primary) 91%, var(--color-primary) 100%);
}
.logo {
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
}