<div class="background">
    <div class="container mission-card-container">
        <div class="mission-card">
            <div class="mission-statement">
                <p class="mission-statement-text"><q>At Aspire Digital, our purpose is to provide best in class digital solutions that empower clients, promote their growth, and improve their bottom lines.</q></p>
            </div>
            <div class="signature">
                <p class="signature-text">- Robin Singh, CEO</p>
            </div>
        </div>
    </div>
</div>
